<!-- <h2>Home</h2>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
-->
<!-- Header
============================================= -->
<section class="main-header">
  <div id="owl-hero">
    <div class="item" style="background-image: url(img/sliders/Slide.jpg)">
      <div class="caption">
        <h1>Tell Your <span>Story</span></h1>
        <hr class="light-sep">
        <h6>A framework for writing modern User Stories</h6>
        <a class="btn btn-transparent" href="/#contact">Create Your Story</a>
      </div>
    </div>
  </div>
</section>
<!-- This is the end of the first section and it also includes the navbar -->
<!-- Welcome
============================================= -->
<section id="welcome">
  <div class="container">
    <h2>Welcome To <span>Story Syntax</span></h2>
    <hr class="sep">
    <p>Our app helps you write more effective user stories.</p>
  </div>
</section>
<!-- This is the end of the second section after the hero image and nav bar html. -->
<!-- Services
============================================= -->
<section id="services">
  <div class="container">
    <h2>Well Formed User Stories Matter</h2>
    <hr class="light-sep">
    <p>It's The Agile Way</p>
    <div class="services-box">
      <div class="row wow fadeInUp" data-wow-delay=".3s">
        <div class="col-md-4">
          <div class="media-left"><span class="icon-lightbulb"></span></div>
          <div class="media-body">
            <h3>Creating User Stories Is Easy</h3>
            <p>User stories are easy and fast to write. People with no software development experience at all can write them easily to communicate their goals.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-left"><span class="icon-profile-male"></span></div>
          <div class="media-body">
            <h3>Written By The “User”</h3>
            <p>User stories are ideally written by the product manager. This helps the development team gain a better understanding of the functionality.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-left"><span class="icon-compass"></span></div>
          <div class="media-body">
            <h3>Made for Remote Developers</h3>
            <p>User stories will help alleviate software development communication challenges with freelancers or outsourced teams.</p>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay=".6s">
          <div class="col-md-4">
            <div class="media-left"><span class="icon-lightbulb"></span></div>
            <div class="media-body">
              <h3>Easier to Understand</h3>
              <p>User stories help minimize the Time-to-Understand variable (time developers need to understand the requirements). User stories minimize the need to speak to the PM to clarify key parts of the requirements.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media-left"><span class="icon-tools"></span></div>
            <div class="media-body">
              <h3>Useful For Planning</h3>
              <p>User stories can be used readily in project planning. User stories are written so that each can be given an estimate of how difficult or time–consuming it will be to develop.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media-left"><span class="icon-wallet"></span></div>
            <div class="media-body">
              <h3>Faster and Cheaper</h3>
              <p>Client user stories help development teams better estimate the development roadmap needed to complete the project. More accurate estimates and roadmaps lead to quicker development and faster delivery times, hence a cheaper project.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- This is the end of the third section. -->
<!-- User Story Form Section
============================================= -->
<section id="contact">
  <div class="container">
    <h2>User Story</h2>
    <hr class="sep">
    <p>Create Your Story</p>
    <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
      <form method="POST" action="/profile">
        <div class="form-group">
          <label for="TITLE">TITLE</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="[Persona name] should (not) be able to [overarching action]"></i>
          <input type="text" name="title" class="form-control" id="Title" placeholder="A [Connect 4 Player] should be able to place a piece on the game board." required>
        </div>
        <div class="form-group">
          <label for="GIVEN">GIVEN...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="GIVEN steps are used to describe the initial context of the system---the scene of the scenario."></i>
          <textarea name="given" class="form-control" rows="1" placeholder="that I’m a Connect 4 Player, I need to be able to play a game piece on the game board." required></textarea>
        </div>
        <div class="form-group">
          <label for="WHEN">WHEN...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="WHEN steps are used to describe an event, or an action. This can be a person interacting with the system, or it can be an event triggered by another system."></i>
          <textarea name="when" class="form-control" rows="1" placeholder="I click an empty game board space" required></textarea>
        </div>
        <div class="form-group">
          <label for="THEN">THEN...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="THEN steps are used to describe an expected outcome, or result."></i>
          <textarea name="then" class="form-control" rows="1" placeholder="the space I played should refelect my game piece" required></textarea>
        </div>
        <div class="form-group">
          <label for="AND">AND...</label>
          <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="AND is optional and provides additional conditions. If you find yourself writing multiple “and”s in the acceptance criteria, that is a smell test that indicates you should split the story into two or more."></i>
          <textarea name="and" class="form-control" rows="1" placeholder="my turn should end." required></textarea>
        </div>
        <input class="btn-block" type="submit" value="Create Story" >
      </form>
    </div>
  </div>
</section>
