<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story Syntax</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Icon Styles -->
    <link rel="icon" href="/favicon.ico">
    <link href="plugins/Icons/et-line-font/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
      <% include partials/navbar %>
      <%- body %>

    <!-- Main Application
  ============================================= -->
    <footer>
        <div class="container">
            <h1>Story Syntax</h1>
            <h6>&copy; 2016 By <a href="Cmadison.io" title="">Cmadison.io</a></h6>
        </div>
    </footer>

    <!-- Scripts -->

    <!-- Jquery Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>

    <!-- Bootstrap Scripts -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
  </body>
</html>
