<div class="container spacer">
  <div class="authform col-md-6 col-md-offset-3">
    <% story.forEach(function(story) { %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseOne"
              href="#collapseOne">
              <%= story.title %>
            </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body"><%- story.getFullStory(); %> <br>
              <div class="ud-button">
                <a class="btn btn-light edit-btn" href="/profile/edit/<%= story.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit</a>
                <form action="/profile/delete/<%= story.id %>" method="DELETE" accept-charset="utf-8">
                <button class="btn btn-light delete-btn" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i>  Delete</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
  </div>
</div>
